.headerContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: linear-gradient(to right, #12171b, #2e2e2e);    
}
.headerContainerLight{
    display: flex;
    flex-flow: row wrap;
    background: linear-gradient(to right, #5862ff, #31cddb);
    justify-content: space-around;
    border-bottom-right-radius: 100px;

}
.headerContainer > * {
    flex-shrink: 1;
    flex-grow: 0;
}
.headerContainer > *{
    flex-shrink: 1;
}
.headerText{
    margin-top: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: white;
}
.headerTextLight{
    margin-top: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);

}
#headerMainText{
    font-weight: bold;
    text-indent: -15px;
    animation-name: headerMainAnimation;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
.headerSecText{
    font-size: large;
    animation-name  : headerSecText;
    animation-duration: 400ms;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
#headerImage{
    margin: 10svh 10svw;
    max-height: 40svh;
    max-width: 100%;
    overflow: hidden;
}
@keyframes headerSecText {
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
        opacity:1;
    }
    
}

@keyframes headerMainAnimation {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
    
}