.bgr-gradient {
    background-image: linear-gradient(to bottom right, #2375b7, #1096a6);
    height: 80svh;
}
#headerImage{
    height: 30svw;
 
}
.headerMainText{
    text-indent: -15px;
    margin-bottom: 2vh;
    margin-top: 5vh;
}
.headerSecText , .headerParagraph{
    line-height: 1.5;
    letter-spacing: 1px;
}
.headerMainText{
    animation-name: headerMainAnimation;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
}
.headerTextSec{
    animation-name: headerSecText;
    animation-duration: 400ms;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes headerSecText {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
        opacity:1;
    }
    
}

@keyframes headerMainAnimation {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
@media screen and (max-width: 600px) {
    .headerSecText , .headerParagraph{
        line-height: 1.4;
        letter-spacing: 0px;
    }
    .headerParagraph{
        padding-bottom: 20px;
    }
}