.profileCardContainer{
    width: 22vw;
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-items: center;
    border: 1px #ffffff solid;
    border-radius: 10px;
    background-color: #212529;
    animation-duration: 500ms;
    animation-name: profileCard;
    animation-timing-function: ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}
.profileCardContainerLight{
    width: 22vw;
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    animation-duration: 500ms;
    animation-name: profileCard;
    animation-timing-function: ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}
.profileImage{
    align-self: center;
    border-radius: 50%;
    width: 35%;
    margin:5% ;
    border: 3px solid rgb(0, 0, 0);

}
.profileCardInfo{
    justify-self:flex-start;
    font-size: 1em;
    line-height: 1.5;
    padding: 15px;
    color: white;
    text-overflow: ellipsis;
}
.profileCardInfoLight{
    justify-self:flex-start;
    font-size: 0.95em;
    padding: 15px;
    color: rgb(0, 0, 0);
}

.profilehr{
    border-radius: 4px;
    color:rgba(255, 255, 255, 0.938) !important;
}
.profilehrLight{
    border-radius: 4px;
    color:rgba(0, 0, 0, 0.938);
}
.profilehr::after{
    position: relative;
    left: 5px;
    content: "Info";
}
.profilehrLight::after{
    position: relative;
    left: 5px;
    content: "Info";
}
    
@keyframes profileCard {
    0%{
        transform: translateY(30%);
        opacity: 0.1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
