.profileGrid{
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 4fr));
    row-gap: 5px;
    column-gap: 10px;
    justify-items:center;
}
@media screen and (max-width:768px) {
    .profileGrid{
        grid-template-columns: 1fr;
    }
}